%products
  %product{:id => @product.id}
    %property{:name => "name"}= @product.name
    %property{:name => "sku"}= @product.sku
    %property{:name => "aisle"}= @product.aisle
    %property{:name => "bin"}= @product.bin
    %property{:name => "inventory"}= @product.inventory
    %property{:name => "updated_at"}= @product.updated_at
